
<h1 class="text-center mt-4">Profile</h1>
<%= gravatar_for @user, size: 100 %>
<% if logged_in? && current_user == @user %>
<div class="text-center mt-4">
  <%= link_to 'Editar', edit_user_path(@user), class:"btn btn-success"%>
</div>
<% end %>
<div class="flickr_pagination mt-3">
  <%= will_paginate @articles, :container => false %>
</div>
<div class="container">
  <% @articles.each do |artigo| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header">
          <i>by <%= artigo.user.username %></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=  artigo.tittle%></h5>
          <p class="card-text"><%=simple_format(artigo.description) %></p>
          <%= link_to "View", article_path(artigo), class:"btn btn-outline-info" %>
          <% if logged_in? && (current_user == artigo.user || current_user.admin?) %>
        <%= link_to "Edit", edit_article_path(artigo), class:"btn btn-outline-info" %>
          <%= link_to "Delete", article_path(artigo), data: { "turbo-method": :delete, turbo_confirm:"Are you sure?" } ,class:"btn btn-outline-danger" %>
        <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(artigo.created_at) %> ago,
            edited <%= time_ago_in_words(artigo.updated_at) %> ago
          </small>
        </div>
      </div>
    </div>
  </div>
    <% end %>
</div>


<div class="flickr_pagination mb-5">
  <%= will_paginate @articles, :container => false %>
</div>
<div class="mb-5">
  <%= link_to 'Create new Article', new_article_path%>
</div>



